In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
pd.__version__

'2.3.2'

In [3]:
df = pd.read_csv('car_fuel_efficiency.csv')

df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [4]:
## Question 2 -- How many records are in the dataset?
    # Answer = there are 9,704 records
df.shape

(9704, 11)

In [6]:
## Q3. How many fuel types are presented in the dataset?
df.fuel_type.unique()

len(df['fuel_type'].unique())  ## there are 2 fuel types

2

In [9]:
## Q4  How many columns in the dataset have missing values?
    ## running .isnull().sum() will show the number of Null values per column in the dataframe
    ## Answer = there are 4 columns that have Null values in the dataframe (shown below)

df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [10]:
## Q5 What's the maximum fuel efficiency of cars from Asia?
    ## need subfilter by 'origin' and descriptive statistics for 'fuel_efficiency_mpg'

df.head(3)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341

In [11]:
df[df['origin']=='Asia']['fuel_efficiency_mpg'].max()    ## Q5 Answer = the maximum fuel efficiency for cars from Asia is 23.759

23.759122836520497

Q6 Median Value of horsepower

Find the median value of horsepower column in the dataset.
Next, calculate the most frequent value of the same horsepower column.
Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
Now, calculate the median value of horsepower once again.

In [39]:
dfx = df.copy()

In [40]:
dfx['horsepower'].median()   ## this is Median horsepower before using fillna to  enter values

149.0

In [41]:
dfx['horsepower'].mode()    ## the most frequent horsepower value is 152
most_frequent = dfx['horsepower'].mode()[0]

most_frequent

np.float64(152.0)

In [42]:
dfx['horsepower'] = dfx['horsepower'].fillna(most_frequent)

In [43]:
dfx.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower               0
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [44]:
dfx.horsepower.median()    ## Answer Q6 Yes, the Median has changed after I fillna with the Mode value of 152 . The median is now 152

152.0