In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
pd.__version__

'2.3.2'

In [3]:
df = pd.read_csv('car_fuel_efficiency.csv')

df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [4]:
## Question 2 -- How many records are in the dataset?
    # Answer = there are 9,704 records
df.shape

(9704, 11)

In [5]:
## Q3. How many fuel types are presented in the dataset?
df.fuel_type.unique()

len(df['fuel_type'].unique())  ## there are 2 fuel types

2

In [6]:
## Q4  How many columns in the dataset have missing values?
    ## running .isnull().sum() will show the number of Null values per column in the dataframe
    ## Answer = there are 4 columns that have Null values in the dataframe (shown below)

df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [7]:
## Q5 What's the maximum fuel efficiency of cars from Asia?
    ## need subfilter by 'origin' and descriptive statistics for 'fuel_efficiency_mpg'

df.head(3)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341

In [8]:
df[df['origin']=='Asia']['fuel_efficiency_mpg'].max()    ## Q5 Answer = the maximum fuel efficiency for cars from Asia is 23.759

np.float64(23.759122836520497)

Q6 Median Value of horsepower

Find the median value of horsepower column in the dataset.
Next, calculate the most frequent value of the same horsepower column.
Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
Now, calculate the median value of horsepower once again.

In [21]:
dfx = df.copy()

In [22]:
dfx['horsepower'].median()   ## this is Median horsepower before using fillna to  enter values

np.float64(149.0)

In [23]:
dfx['horsepower'].mode()    ## the most frequent horsepower value is 152
most_frequent = dfx['horsepower'].mode()[0]

most_frequent

np.float64(152.0)

In [24]:
dfx['horsepower'] = dfx['horsepower'].fillna(most_frequent)

In [25]:
dfx.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower               0
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [26]:
dfx.horsepower.median()    ## Answer Q6 Yes, the Median has changed after I fillna with the Mode value of 152 . The median is now 152

np.float64(152.0)

Q7

Select all the cars from Asia

Select only columns vehicle_weight and model_year

Select the first 7 values

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

Invert XTX.

Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the sum of all the elements of the result?

In [59]:
dfy = dfx.copy()

dfy.head(3)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341

In [60]:
## Select only origin 'Asia'

dfy = dfy[dfy['origin']=='Asia']

dfy.origin.unique()

array(['Asia'], dtype=object)

In [61]:
dfy = dfy[['vehicle_weight', 'model_year']]

In [62]:
## select the first 7 values and save to an array, called  "x"

X = dfy.iloc[:7,:].to_numpy()

X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [63]:
## Compute the matrix-matrix multiplication between transpose X and X, 
# save the value into an array called "XTX"

XTX = np.dot(X.T, X)

XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [64]:
## Invert XTX
XTX_inv = np.linalg.inv(XTX)

XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [65]:
## Create an array "y" with values [1100, 1300, 800, 900, 1000, 1100, 1200]

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [66]:
## Multiply the inverse of XTX with the transpose of X, and then multiply the result by y
## call the result w

w = XTX_inv @ X.T @y

In [68]:
## what is the sum of all the elements of the result "w"

sum(w)

np.float64(0.5187709081074016)